{% extends 'base_generic.html' %}

{% block title %}
Мультики
{% endblock %}

{% block content %}
<div class="features">
    <h1>Привет! Ты на странице c мультиками.</h1>
    <p>Текст текст текст текст текст текст текст текст текст</p>
    <div class="things">
        <div class="first">
            <img src="static/comments/img/leon.jpg" width="160" height="270">
        </div>
        <div class="second">
            <img src="static/comments/img/koko.jpg" width="160" height="270">
        </div>
        <div class="third">
            <img src="static/comments/img/soul.jpg" width="160" height="270">
        </div>
    </div>
</div>
{% endblock %}