{% extends 'base_generic.html' %}

{% block title %}
Мультики
{% endblock %}

{% block content %}
<div class="features">
    <h1>Hi! You're on the page with popular Disney cartoons!</h1>
    <p>Here are 3 cartoons. Get acquainted with them and give your feedback!</p>
    <div class="things">
        <div class="first">
            <a href="{% url 'leon_full' %}"> <img src="static/comments/img/leon.jpg" width="134" height="226"></a>
            <p style="color: #86c232">Король лев.</p>
            <p>У величественного Короля-Льва Муфасы рождается наследник по имени Симба. Уже в детстве любознательный малыш становится жертвой интриг своего завистливого дяди Шрама, мечтающего о власти...</p>
        </div>
        <div class="second">
            <a href="{% url 'koko_full' %}"> <img src="static/comments/img/koko.jpg" width="134" height="226"></a>
            <br>
            <p style="color: #86c232">Тайна Коко.</p>
            <p>12-летний Мигель живёт в мексиканской деревушке в семье сапожников и тайно мечтает стать музыкантом. Тайно, потому что в его семье музыка считается проклятием...</p>
        </div>
        <div class="third">
            <a href="{% url 'soul_full' %}"> <img src="static/comments/img/soul.jpg"  width="134" height="226"></a>
            <p style="color: #86c232">Душа.</p>
            <p>Школьный учитель музыки Джо Гарднер всю жизнь мечтал выступать на сцене в составе джазового ансамбля. Однажды он успешно проходит прослушивание у легендарной саксофонистки и, возвращаясь домой вне себя от счастья...
        </div>
    </div>
</div>
{% endblock %}