{% extends 'base_generic.html' %}


{% block title %}
Фильмы
{% endblock %}

{% block content %}
<div class="features">
    <h1>Ты на странице с мультиком Тайна Коко!</h1>
    <p>Информация о мультфильме.</p>
    <div class="things_full">
        <div class="first">
            <h3 style="color: #86c232">Описание:</h3>
            <p>12-летний Мигель живёт в мексиканской деревушке в семье сапожников и тайно мечтает стать музыкантом. Тайно, потому что в его семье музыка считается проклятием. Когда-то его прапрадед оставил жену, прапрабабку Мигеля, ради мечты, которая теперь не даёт спокойно жить и его праправнуку. С тех пор музыкальная тема в семье стала табу. Мигель обнаруживает, что между ним и его любимым певцом Эрнесто де ла Крусом, ныне покойным, существует некая связь. Паренёк отправляется к своему кумиру в Страну Мёртвых, где встречает души предков. Мигель знакомится там с духом-скелетом по имени Гектор, который становится его проводником. Вдвоём они отправляются на поиски де ла Круса.</p>
        </div>
        <br>
        <div class="second">
            <h3 style="color: #86c232">Год производства и страна:</h3>
            <p>2017, США</p>
        </div>
        <br>
        <div class="third">
            <h3 style="color: #86c232">Жанр</h3>
            <p>мультфильм, фэнтези, комедия, приключения, семейный, музыка</p>
        </div>
        <br>
        <div class="fourth">
            <h3 style="color: #86c232">Режиссер</h3>
            <p>Ли Анкрич, Эдриан Молина</p>
        </div>
        <br>
        <div class="fifth">
            <h3 style="color: #86c232">Поделись своими впечатлениями о фильме!</h3>
            <p>Не забудь представится :)</p>
             <div class="review">
                 <form action="" method="post"><!--Создаем форму-->
                    <input type="text" placeholder="Имя" name="fname"><!--Создаем строку для ввода имени-->
                     <br>
                    <textarea placeholder="Сообщение" name="message" rows="10" cols="45"></textarea><!--Поле для ввода сообщения-->
                    <input type="submit" value="Отправить" /><!--Кнопка отправить-->
                 </form>
    </div>
</div>
{% endblock %}