{% extends 'base_generic.html' %}


{% block title %}
Фильмы
{% endblock %}

{% block content %}
<div class="features">
    <h1>Ты на странице с мультиком Король Лев!</h1>
    <p>Информация о мультфильме.</p>
    <div class="things_full">
        <div class="first">
            <h3 style="color: #86c232">Описание:</h3>
            <p>У величественного Короля-Льва Муфасы рождается наследник по имени Симба. Уже в детстве любознательный малыш становится жертвой интриг своего завистливого дяди Шрама, мечтающего о власти.
    Симба познаёт горе утраты, предательство и изгнание, но в конце концов обретает верных друзей и находит любимую. Закалённый испытаниями, он в нелёгкой борьбе отвоёвывает своё законное место в «Круге жизни», осознав, что значит быть настоящим Королём.</p>
        </div>
        <br>
        <div class="second">
            <h3 style="color: #86c232">Жанр</h3>
            <p>1994, США</p>
        </div>
        <br>
        <div class="third">
            <h3 style="color: #86c232">Год производства и страна:</h3>
            <p>мультфильм, мюзикл, драма, приключения, семейный</p>
        </div>
        <br>
        <div class="fourth">
            <h3 style="color: #86c232">Режиссер</h3>
            <p>Роджер Аллерс, Роб Минкофф</p>
        </div>
        <br>
        <div class="fifth">
            <h3 style="color: #86c232">Поделись своими впечатлениями о фильме!</h3>
            <p>Не забудь представится :)</p>
             <div class="review">
                 <form action="" method="post"><!--Создаем форму-->
                    <input type="text" placeholder="Имя" name="fname"><!--Создаем строку для ввода имени-->
                     <br>
                    <textarea placeholder="Сообщение" name="message" rows="10" cols="45"></textarea><!--Поле для ввода сообщения-->
                    <input type="submit" value="Отправить" /><!--Кнопка отправить-->
                 </form>
    </div>
</div>
{% endblock %}