{% extends 'base_generic.html' %}


{% block title %}
Главная страница
{% endblock %}

{% block content %}
<div class="features">
    <h4>Проект группы 201-331 представляет</h4>
    <h1>Review avenue!</h1>
    <p>Идея проекта заключается в возможности ознакомится в фильмом или мультиком и оставить свой комментарий.</p>
    <br>
    <h8>А пока ты не решил, какую оценку хочешь поставить, предлагаем найти мультик, <br> который входит в ТОП-10 самых больших сборов. <br></h8>
    <br>
    <form action="{% url 'search_results' %}" method="get">
        <input name="q" type="text" placeholder="Search...">
<!--        <p>Фильтр</p>-->
<!--        <select>-->
<!--            <option>Нет</option>-->
<!--            <option>A&rarr;Я</option>-->
<!--            <option>Я&rarr;А</option>-->
<!--        </select>-->
    </form>
</div>
{% endblock %}
