{% extends 'base_generic.html' %}


{% block title %}
Фильмы
{% endblock %}

{% block content %}
<div class="features">
    <h1>Ты на странице с фильмом Пираты Карибского моря: Проклятие Черной жемчужины!</h1>
    <p>Информация о фильме.</p>
    <div class="things_full">
        <div class="first">
            <h3 style="color: #86c232">Описание:</h3>
            <p>Жизнь харизматичного авантюриста, капитана Джека Воробья, полная увлекательных приключений, резко меняется, когда его заклятый враг капитан Барбосса похищает корабль Джека Черную Жемчужину, а затем нападает на Порт Ройал и крадет прекрасную дочь губернатора Элизабет Свонн.</p>
        </div>
        <br>
        <div class="second">
            <h3 style="color: #86c232">Год производства и страна:</h3>
            <p>2003, США</p>
        </div>
        <br>
        <div class="third">
            <h3 style="color: #86c232">Жанр:</h3>
            <p>фэнтези, боевик, приключения</p>
        </div>
        <br>
        <div class="fourth">
            <h3 style="color: #86c232">Режиссер</h3>
            <p>Гор Вербински</p>
        </div>
        <br>
        <div class="fifth">
            <h3 style="color: #86c232">Поделись своими впечатлениями о фильме!</h3>
            <p>Не забудь представится :)</p>
             <div class="review">
                 <form action="" method="post"><!--Создаем форму-->
                    <input type="text" placeholder="Имя" name="fname"><!--Создаем строку для ввода имени-->
                     <br>
                    <textarea placeholder="Сообщение" name="message" rows="10" cols="45"></textarea><!--Поле для ввода сообщения-->
                    <input type="submit" value="Отправить" /><!--Кнопка отправить-->
                 </form>
    </div>
</div>
{% endblock %}