{% extends 'base_generic.html' %}


{% block title %}
Фильмы
{% endblock %}

{% block content %}
<div class="features">
    <h1>Ты на странице с фильмом 16 Желаний!</h1>
    <p>Информация о фильме.</p>
    <div class="things_full">
        <div class="first">
            <h3 style="color: #86c232">Описание:</h3>
            <p>Эбби Дженсен планировала свое 16-летие с того момента как она была маленькой девочкой. Когда наступает этот день, она добавляет последнее (16-ое) желание в свой список желаний. К ее удивлению она получает коробку с 16-ю праздничными свечами, каждая из которых соответствует номеру ее желаний в списке. Как ее желания исполняются, ее день становится все лучше и лучше, пока она не загадает желание изменившее все и поможет себе понять что быть ребенком не так уж и плохо.</p>
        </div>
        <br>
        <div class="second">
            <h3 style="color: #86c232">Год производства и страна:</h3>
            <p>2010, Канада, США</p>
        </div>
        <br>
        <div class="third">
            <h3 style="color: #86c232">Жанр</h3>
            <p>фэнтези, драма, мелодрама, семейный</p>
        </div>
        <br>
        <div class="fourth">
            <h3 style="color: #86c232">Режиссер</h3>
            <p>Питер ДеЛуис</p>
        </div>
        <br>
        <div class="fifth">
            <h3 style="color: #86c232">Поделись своими впечатлениями о фильме!</h3>
            <p>Не забудь представится :)</p>
             <div class="review">
                 <form action="" method="post"><!--Создаем форму-->
                    <input type="text" placeholder="Имя" name="fname"><!--Создаем строку для ввода имени-->
                     <br>
                    <textarea placeholder="Сообщение" name="message" rows="10" cols="45"></textarea><!--Поле для ввода сообщения-->
                    <input type="submit" value="Отправить" /><!--Кнопка отправить-->
                 </form>
    </div>
</div>
{% endblock %}