body {
    background: #222629;
}

aside{
    height: 240vh;
    float: left;
    background: #222629;
    width: 20%;
    color: #ffffff;
    padding: 3%;
    border-right: 3px solid rgb(134, 194, 50, 0.99);
}

img {
    float: left;
}

aside .logo {
    font-size: 20px;
    margin-left: 10px;
    font-weight: bold;
    position: relative;
    left: 3px;
}

aside ul {
    list-style:none;
}

aside ul li{
    color: #ffffff;
    display: block;
    margin-top: 10px;
    transition: all .6s;
    text-decoration: none;
}

aside ul a{
    text-decoration: none;
}

aside ul li:hover, aside ul a:hover{
    color: rgb(134, 194, 50);
    transform: scale(1.1);
}

main .outlog, .features a:hover{
    color: rgb(134, 194, 50);
    transform: scale(1.1);
    transition: all .6s;
}

main .list_i :hover{
    color: rgb(134, 194, 50);
    transform: scale(1.1);
    transition: all .6s;
}

main .outlog a{
    color: #6B6E70;
}

main .features {
    float: left;
    color: #ffffff;
    margin-top: 100px;
    text-align: center;
    position: relative;
    width: 80%;
}

main .search table{
    margin-left: auto;
    margin-right: auto;
}

main .features p{
    color: #6B6E70;
    margin: 0 auto;
    max-width: 400px;
}

main .features a{
    text-decoration: none;
}

main .features h4{
    color: rgb(134, 194, 50);
}

main .things{
    display: grid;
    padding: 20px;
    text-align: justify;
}

main .things_full{
    display: grid;
    padding: 20px ;
    text-align:left;
}

main .things_full p {
display: inline;
}

main .list {
display: block;
float: left;
}

main .container {
    color: #ffffff;
    text-align: center;
    position: relative;
    float: left;
    width: 80%;
}

main .signup, .search{
    padding: 100px;
}

main .signup h3{
    padding: 0px 0px 30px 0px;
    color: rgb(134, 194, 50);
}

main .signup p{
    text-align: left;
}

main .signup li{
    text-align: left;
}

main .login{
    padding: 100px;
}

main .review{
    text-align: left;
}

main .bord_td{
    border-width: 1px;
}
